
.SidebarItem{
    margin: -5.5px;
    /* padding: -10px; */
}
.navLink {
    font-size: 15px;
    color: inherit;
    text-decoration: none;
    color: #4f5864;
}
.navLink:hover {
    color: #1eb3ec;
}

.sidebar-item-divider{
    border-bottom: 1px solid #f1f3f5;
    border-radius: 3px 3px 0 0;
    color: #f1f3f5;
    margin-top:0;
}